MIRROR_PORT=8888
MIRROR_PUBLIC_BASE_URL=https://alternate.lastdawn.ru
MIRROR_SERVERS_JSON=./data/mirror-servers.json

CLIENT_UPDATE_PRIVATE_KEY=

LAUNCHER_LATEST_VERSION=2.0.77
LAUNCHER_FILE_NAME=RLauncher.zip

CLIENT_STARTUP_SYNC_MODE=single
CLIENT_STARTUP_SYNC_ARCH=windows-x64
